.stepperInput {
  display: flex;
  display: -webkit-flex;
  color: gray;
  max-width: 120px;
  margin: 0 auto;
  .increment,
  .decrement {
    height: 24px;
    width: 24px;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 50%;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:16px;
    cursor: pointer;
    &:hover {
      color: #1890ff;
      border-color: #1890ff;
    }
    &:active {
      color: white;
      border-color: #1890ff;
      background: lighten(#1890ff, 15%);
    }
  }
  .quantity {
    height: 24px;
    width: 48px;
    text-align: center;
    margin: 0 12px;
    border-radius: 2px;
    border: 1px solid gray;
    &:focus {
      outline: none;
      border-color: #1890ff;
    }
  }
}
